{% block color_picker_widget %}
    <input {{ block('widget_attributes') }} value="{{ value|default('#FF0000') }}"/>

    <script type="text/javascript">
        $('.colorpicker').colorPicker();
    </script>
{% endblock %}
